
{
    # Set the ACME DNS challenge provider to use Cloudflare for all sites
    acme_dns cloudflare I993q2bLnnC9awrWnroTgypufCWtWzdhMWMxqH6x
}

:8080 {
    redir /.well-known/carddav /remote.php/dav
    redir /.well-known/caldav /remote.php/dav

    reverse_proxy nextcloud:80
}

tinocloud.org {
    redir /.well-known/carddav /remote.php/dav
    redir /.well-known/caldav /remote.php/dav

    reverse_proxy nextcloud:80
}

grafana.tinocloud.org {
    reverse_proxy grafana:3000
}