
{
    # Set the ACME DNS challenge provider to use Cloudflare for all sites
    acme_dns cloudflare {$CLOUDFLARE_DNS_TOKEN}
}

# nextcloud
:8080 {
    redir /.well-known/carddav /remote.php/dav
    redir /.well-known/caldav /remote.php/dav

    reverse_proxy nextcloud:80
}

{$ROOT_DOMAIN} {
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    }
    redir /.well-known/carddav /remote.php/dav
    redir /.well-known/caldav /remote.php/dav

    reverse_proxy nextcloud:80
}

{$GRAFANA_DOMAIN} {
    reverse_proxy grafana:3000
}

# jenkins only for github webhooks. All other requests are blocked.
{$JENKINS_DOMAIN} {
    @webhook_path {
        path /github-webhook/
        method POST
    }

    handle @webhook_path {
        @has_event header X-GitHub-Event *
        handle @has_event {
            reverse_proxy jenkins:8080
        }

        # No valid headers -> forbidden
        respond "Forbidden" 403
    }

    # Block all other access to Jenkins (hides UI/API from public)
    respond "Forbidden" 403
}

# pdf editor
:5555 {
    root * /pdf_editor/dist
    file_server
}